.app-container {
  margin: 96px auto 0px;
  width: 60em;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.title {
  font-size: 28px;
  padding: 0px 0px 32px 0px;
  background-color: #fafafa;
  width: 100%;
  text-align: center;
}

.email-header {
  width: 100%;
  border: 1px solid #d5d5d5;
}

.email-header-line {
  padding: 16px;
}

.email-header-line, .email-body label {
  font-size: 14px;
  color: #a09ea4;
  padding: 16px;
}

.email-header-line input {
  margin-left: 8px;
  height: 28px;
  font-size: 16px;
  border: none;
  outline: none;
  width: 80%;
}

.email-header-line input::selection {
  background-color: rgba(255, 255, 0, 0.4);
}

.email-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #d5d5d5;
  border-top: none;
  border-bottom: none;
}

textarea {
  border: none;
  padding: 0 16px;
  width: auto;
  height: 100%;
  resize: none;
  font-size: 16px;
  outline: none;
}

textarea::selection {
  background-color: rgba(255, 255, 0, 0.4);
}

.email-body input {
  margin: 0 auto 16px;
  font-size: 16px;
  border: 1px solid #d5d5d5;
  outline: none;
  text-align: center;
  width: 33%;
  padding: 12px;
}

button {
  padding: 16px 32px;
  margin: 0 auto 32px;
  font-size: 14px;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  background-color: #8EBDB6;
  outline: none;
}

button:hover {
  background-color: #3E838C;
}

button:active {
  background-color: #195E63;
}

button::-moz-focus-inner {
  border: 0;
}

